<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>InforSeeker</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}">
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body id="top">

        <main>

          
            

            


            


           


            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How to use InforSeeker</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" >
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Search the topic you need</h4>

                                        <p class="text-white">You can search the topic you need in InforSeeker. Click button below to continue using inforSeeker  </p>
                                        <a href="/tes" class="btn custom-btn custom-border-btn ms-3">Click here! </a>

                                        <div class="icon-holder">
                                          <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Topic in InforSeeker</h4>

                                        <p class="text-white">InforSeeker only contains some information about data mining, 
                                            Software Engineering, 
                                            Computer Networks & Cybersecurity and 
                                            GeoSpatial</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">How InforSeeker works</h4>

                                        <p class="text-white"> InforSeeker works with ruled base only. The query user given will match with the query in database and it will check the similarity between query from user and query in the database   </p>

                                        <div class="icon-holder">
                                          <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                You can download the rules in this link
                                <a href="https://github.com/MuhammadFarhan009/si" class="btn custom-btn custom-border-btn ms-3">Click Here!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            


           
        </main>



        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      

    </body>
</html>
